$main-bg: #2e2a23;
$main-color: rgba(255,255,255,.3);
$color-primary: #888;
$text-heading: rgba(255,255,255,.6);
$black: #221e18;
$gray: #74726e;
$white: #fdfdfd;
$light-orange: #f5bb5f;
$light-blue: rgb(164, 164, 226);
$table-leg: #1288b0;
$table-surface: linear-gradient(#2e67da,#e1dcd5);
$table-edge: linear-gradient(#070d44,#e1dcd5);