@import './reset';
@import './variables';
@import './mixins';

html {
  font-size: 10px;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
}

body {
  background-color: $main-bg;
  font-size: 1.6rem;
  color: $main-color;
  font-family: 'Roboto Mono', monospace;
}

.left-col {
  padding: 0 40px;
  margin: 0 auto;
  width: calc(100% - 375px);
  text-align: center;
  overflow-x: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;
}

.right-col {
  position: fixed;
  width: 375px;
  right: 0;
  overflow: auto;
  top: 40px;
  top: 0;
  bottom: 0;
  background: $black;
  z-index: 1;
}

.html__wrapper {
  display: flex;
  margin-top: 4rem;
  border: 10px solid darken($black, 5%);
  padding-top: 5rem;
  border-radius: 1rem;
}

.markup_text {
  color: $light-orange;
  padding-left: 0.5rem;
}
.hljs-tag {
  padding-left: 1.5rem;
  line-height: 2rem;
}

// .markup_code.hovered  * {
//   color: #fff;
//   font-weight: bold;
// }

/*CUSTOM ELEMENTS*/
hobbit,
cplus,
javascript,
groming,
python {
  display: inline-block;
  width: 125px;
  height: 125px;
  background-size: cover;
  margin-right: 20px;
  box-shadow: 0px 8px 0px rgba(0,0,0,.3);
  position: relative;
}
hobbit {
  background-image: url('../assets/images/game/hobbit.jpg');
}
cplus {
  background-image: url('../assets/images/game/cplus.png');
}
javascript {
  background-image: url('../assets/images/game/javascript.png');
}
groming {
  background-image: url('../assets/images/game/grocking.jpg');
}
python {
  background-image: url('../assets/images/game/python.jpg');
}
.hovered {
  box-shadow: 0 0 0 6px rgba(255,255,255,.4);
}
.markup_code.hover-viewer > pre > code span {
  color: #cbc2c2 !important;
  cursor: pointer;
}
.markup_code.hover-viewer > pre  .hljs-string  {
  color: rgb(243, 27, 225) !important;
}
.markup_code.hover-viewer > pre  .hljs-attr  {
  color: rgb(216, 223, 21) !important;
}
.markup_code.hover-viewer  .hljs {
  color: green;
}

.helper {
  position: absolute;
  background: white;
  padding: 10px 15px 12px 15px;
  z-index: 1000;
  font-size: 18px;
  color: #666;
  border-bottom: solid 2px #BBB;
  box-shadow: 0px 5px 0px rgba(0,0,0,.2);
  display: none;
  transform: rotateX(20deg);
  outline: solid 1px transparent;
  word-wrap: nowrap;
  white-space: nowrap;
  top: 0;
  left: 50%;

  &.show {
    display: block;
  }
}

/*gameTarget*/
.gameTarget {
  transform-origin: bottom;
  animation: gameTargetStart .5s ease-out, gameTarget 1s infinite;
  animation-delay: 0s, .5s;
}

@keyframes gameTargetStart {
  0% {
    transform:  skew(0deg,0deg) scaleY(1) ;
    animation-timing-function: ease-in;
   }
  40% {
    transform:  skew(0deg,0deg) scaleY(.9);
    animation-timing-function: ease-out;
  }
  100% { transform:   skew(4deg,0deg) scaleX(1); }
}

@keyframes gameTarget {
  0% { transform:   skew(4deg,0deg) scaleX(1); }
  10% { transform:  skew(1deg,0deg) scaleY(.9) ; }
  50% { transform:  skew(-4deg,0deg) scaleX(1); }
  60% { transform:  skew(-1deg,0deg) scaleY(.9) ; }
  100% {transform: skew(4deg,0deg) scaleX(1); }
}

.shake {
  animation: shake .1s 5;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25% {  transform: translateX(-5px); }
  50% {  transform: translateX(0); }
  75% {  transform: translateX(5px); }
}

.clean {
  animation: cleanme .2s 1;
  transform: translateY(-600px);
}

@keyframes cleanme {
  0% {   transform: translateY(0px) rotate3d(0,0,0,0deg); }
  100% { transform: translateY(-600px) rotate3d(0,0,0,0deg);}
}