@import './reset';
@import './variables';
@import './mixins';

html {
  font-size: 10px;
}
#root {
  position: relative;
  height: 100%;
  width: 100%;
}
.container {
  padding: 0 2rem;
  margin: 0 auto;
}


body {
  background-color: $main-bg;
  font-size: 1.6rem;
  color: $main-color;
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  width: 100%;
}

.left-col {
  padding: 0 4rem;
  margin: 0 auto;
  width: calc(100% - 37.5rem);
  text-align: center;
  overflow-x: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;
}

.right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
  position: fixed;
  width: 37.5rem;
  right: 0;
  overflow: auto;
  top: 4rem;
  top: 0;
  bottom: 0;
  background: $black;
  z-index: 1;
}

.html__wrapper {
  display: flex;
  margin-top: 4rem;
  border: 1rem solid darken($black, 5%);
  padding-top: 5rem;
  border-radius: 1rem;
}

.markup_text {
  color: $light-orange;
  padding-left: 0.5rem;
}
.hljs-tag {
  padding-left: 1.5rem;
  line-height: 2rem;
}

/*CUSTOM ELEMENTS*/
hobbit,
cplus,
javascript,
groming,
python,
typescript {
  display: inline-block;
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  margin-right: 2rem;
  box-shadow: 0 0.8rem 0 rgba(0,0,0,.3);
  position: relative;
}
hobbit {
  background-image: url('../assets/images/game/hobbit.jpg');
}
cplus {
  background-image: url('../assets/images/game/cplus.png');
}
javascript {
  background-image: url('../assets/images/game/javascript.png');
}
groming {
  background-image: url('../assets/images/game/grocking.jpg');
}
python {
  background-image: url('../assets/images/game/python.jpg');
}
typescript {
  background-image: url('../assets/images/game/typescript.jpg');
}
.hovered {
  box-shadow: 0 0 0 0.6rem rgba(255,255,255,.4);
}
.markup_code.hover-viewer > pre > code span {
  color: #cbc2c2 !important;
  cursor: pointer;
}
.markup_code.hover-viewer > pre  .hljs-string  {
  color: rgb(243, 27, 225) !important;
}
.markup_code.hover-viewer > pre  .hljs-attr  {
  color: rgb(216, 223, 21) !important;
}
.markup_code.hover-viewer  .hljs {
  color: green;
}

.helper {
  position: absolute;
  background: white;
  padding: 1rem 1.5rem 1.2rem 1.5rem;
  z-index: 1000;
  font-size: 1.8rem;
  color: #666;
  border-bottom: solid 0.2rem #BBB;
  box-shadow: 0 0.5rem 0 rgba(0,0,0,.2);
  display: none;
  transform: rotateX(20deg);
  outline: solid 0.1rem transparent;
  word-wrap: nowrap;
  white-space: nowrap;
  top: 0;
  left: 50%;

  &.show {
    display: block;
  }
}

/*gameTarget*/
.gameTarget {
  transform-origin: bottom;
  animation: gameTargetStart .5s ease-out, gameTarget 1s infinite;
  animation-delay: 0s, .5s;
}

@keyframes gameTargetStart {
  0% {
    transform:  skew(0deg,0deg) scaleY(1) ;
    animation-timing-function: ease-in;
   }
  40% {
    transform:  skew(0deg,0deg) scaleY(.9);
    animation-timing-function: ease-out;
  }
  100% { transform:   skew(4deg,0deg) scaleX(1); }
}

@keyframes gameTarget {
  0% { transform:   skew(4deg,0deg) scaleX(1); }
  10% { transform:  skew(1deg,0deg) scaleY(.9) ; }
  50% { transform:  skew(-4deg,0deg) scaleX(1); }
  60% { transform:  skew(-1deg,0deg) scaleY(.9) ; }
  100% {transform: skew(4deg,0deg) scaleX(1); }
}

.shake {
  animation: shake .1s 5;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25% {  transform: translateX(-0.5rem); }
  50% {  transform: translateX(0); }
  75% {  transform: translateX(0.5rem); }
}

.clean {
  animation: cleanme .2s 1;
  transform: translateY(-60rem);
}

@keyframes cleanme {
  0% {   transform: translateY(0) rotate3d(0,0,0,0deg); }
  100% { transform: translateY(-60rem) rotate3d(0,0,0,0deg);}
}

/* media */
@media screen and (max-width: 1260px) {
  html {
    font-size: 9px;
  }
}