@import './reset';
@import './variables';
@import './mixins';

html {
  font-size: 10px;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
}

body {
  background-color: $main-bg;
  font-size: 1.6rem;
  color: $main-color;
  font-family: 'Roboto Mono', monospace;
}

.left-col {
  padding: 0 40px;
  margin: 0 auto;
  width: calc(100% - 375px);
  text-align: center;
  overflow-x: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;
}

.right-col {
  position: fixed;
  width: 375px;
  right: 0;
  overflow: auto;
  top: 40px;
  top: 0;
  bottom: 0;
  background: $black;
  z-index: 1;
}

.html__wrapper {
  display: flex;
  margin-top: 4rem;
  border: 10px solid darken($black, 5%);
  padding-top: 5rem;
  border-radius: 1rem;
}

.markup_text {
  color: $light-orange;
  padding-left: 0.5rem;
}
.hljs-tag {
  padding-left: 1.5rem;
  line-height: 2rem;
}

// .markup_code.hovered  * {
//   color: #fff;
//   font-weight: bold;
// }

/*CUSTOM ELEMENTS*/
hobbit,
cplus,
javascript {
  display: inline-block;
  width: 125px;
  height: 125px;
  background-size: cover;
  margin-right: 20px;
  box-shadow: 0px 8px 0px rgba(0,0,0,.3);
}

hobbit {
  background-image: url('../assets/images/game/hobbit.jpg');
}
cplus {
  background-image: url('../assets/images/game/cplus.png');
}
javascript {
  background-image: url('../assets/images/game/javascript.png');
}
.hovered {
  box-shadow: 0 0 0 6px rgba(255,255,255,.4);
}
.markup_code.hover-viewer * {
  color: #fff;
  text-shadow: #fff 1px 1px 15px;
  cursor: pointer;
}