@import '../../styles/mixins';
@import '../../styles/variables';

.level-list {
  padding: 1.5rem;
}
.level-item-wrapper {
  display: flex;
  flex-direction: column;
}
.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.button-left,
.button-right {
  display: inline-block;
  background-image: url('../../assets/images/icon/arrow.png');
  width: 4rem;
  height: 4rem;
  background-size: cover;
  @include transition(scale 0.5s, filter 0.7s);
  &:hover {
    filter: drop-shadow(0rem 0rem 0.5rem $white);
    scale: 1.1;
  }
  cursor: pointer;
}
.button-right {
  transform: rotate(-180deg);
}

/*Level Item*/
.level-item {
 display: inline-block; 
 letter-spacing: 0.1rem;
 line-height: 1.5;
 font-size: 2rem;
 cursor: pointer;
 color: inherit;
 padding: 0 0.5rem;
 background-color: transparent;
 position: relative;
 @include transition(all 0.5s);
 &:hover {
  color: $white;
  text-shadow: 0 0 0.4rem $white;
 }
}
.level-item.not-correct:before,
.level-item.correct:before,
.level-item.correct-help:before
 {
  content: '\2713';
  margin-right: 1rem;
}
.level-item.correct:before {
  color: green;
}
.level-item.correct-help:before {
  color: yellow;
}
.currentLevel {
  background-color: rgba($gray, 0.5);
  color: $white;
  padding: 0 0.5rem;
  &:hover {
    text-shadow: none;
  }
}
